In [5]:
import pandas as pd
import numpy as np

mylist = [5.4,6.1,1.7,99.8]
myarray = np.array(mylist)
print(myarray)

myseries1 = pd.Series(data=mylist)
myseries2 = pd.Series(data=myarray)
print(myseries1)
print('')
print(myseries2)
#accessing values
print(myseries1[3])

[ 5.4  6.1  1.7 99.8]
0     5.4
1     6.1
2     1.7
3    99.8
dtype: float64

0     5.4
1     6.1
2     1.7
3    99.8
dtype: float64
99.8

In [8]:
mylabels = ['first', 'second', 'third', 'fourth']
myseries3 = pd.Series(myarray, mylabels)
print(myseries3)

myseries4 = pd.Series(data=myarray, index=mylabels)
print(myseries4)

#accessing
print(myseries4['second'])

first      5.4
second     6.1
third      1.7
fourth    99.8
dtype: float64
first      5.4
second     6.1
third      1.7
fourth    99.8
dtype: float64
6.1

In [10]:
# Add series
myseries5 = pd.Series([1,2,3,4],['first','third','fourth','fifth'])
print(myseries5)
print('')
print(myseries4+myseries5)

first     1
third     2
fourth    3
fifth     4
dtype: int64

fifth       NaN
first       6.4
fourth    102.8
second      NaN
third       3.7
dtype: float64

In [13]:
#create data frame
df1 = pd.DataFrame(np.random.randn(5,5))
df1

df2 = pd.concat([myseries4,myseries5], axis=1, sort=False)
df2

           0    1
first    5.4  1.0
second   6.1  NaN
third    1.7  2.0
fourth  99.8  3.0
fifth    NaN  4.0